.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.menu-list {
  display: flex;
  font-size: small;
}

.menu-drawer {
  font-size: x-large;
  cursor: pointer;
  float: left;
  margin: 10px 20px;
}

.ant-layout,
.ant-layout-header {
  border-bottom: 1px solid #d9d9d9;
}

.ant-layout-footer {
  border-top: 1px solid #d9d9d9;
  background: #fff;
  padding: 8px 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: center;
}

.content {
  min-height: 600;
  padding: 3rem 0px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
  color: #fff;
}
.ant-layout-header {
  padding: 0 0;
}
